# Environnement virtuel
env/

# Fichiers compilés Python
__pycache__/
*.pyc

# Fichiers de configuration sensibles
.env

# Fichiers de log
*.log

# Dossiers de migration Alembic (si vous préférez ne pas versionner les migrations)
alembic/versions/

# Dossiers spécifiques aux éditeurs (exemple pour Visual Studio Code)
.vscode/
